<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form_table.management_form }}
    {{ form_table.non_form_errors }}
    {% for item_table in form_table %}
      {{ item_table }}

    <!--div class="d-flex py-1 inline {{ product_meta_formset.prefix }}">
        <div>{{item.comment.label}}: {{ item.comment }}</div>
        <div class="ml-4">{{ item.DELETE }} {{ item.DELETE.label }}</div>
    </div -->
    {% endfor %}
    <input type = "submit" value = "OK"/>
</form>

{% if form.errors %}
  <ul>
  {% for field in form %}
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endif %}