{% extends "temple.html" %}

{% block content %} 
<div>
  <h2>{{title}}</h2>
  <div class="hstack gap-3 p-2 d-print-none">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#itemModal" onclick="onNewItem()">Создать</button>
  </div>
  <table class="table table-striped table-bordered">
      <thead>
        <tr> 
          <th>Номер заказа</th>
          <th>Дата заказа</th>
          <th class="d-none d-lg-block">Организация</th>
          <th>Комментарий</th>
          <th class='d-print-none'>Действие</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for x in context %}
          <tr>
              <td class="col-1">{{ x.number }}</td>
              <td class="col-1">{{ x.date|date:"d.m.Y" }}</td>
              <td class="d-none d-lg-block">{{ x.organization.name }}</td>
              <td class="col-6">{{ x.comment }}</td>
              <td class="d-print-none col-1"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#itemModal" onclick="onViewItem('{{x.pk}}')">Редактор</button></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
<div class="modal" id="itemModal">
  <div class="modal-dialog modal-xl modal-fullscreen-xl-down">
    <form method="post" action="" id="itemModalForm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="itemModalTitle"></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" id="itemModalBody"> <!-- container -->
        </div>
        <div class="modal-footer">
          <div class="hstack gap-3">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="onDeleteItem()">Delete</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Записать</button>
            <div class="vr"></div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div> 
        </div>
      </div>
    </form>
  </div>
</div>  
<script>  
  async function onNewItem(){ 
    document.getElementById("itemModalTitle").innerHTML = "Новый заказ";
    document.getElementById("itemModalForm").action = "/orders/new/";
    fetch('/orders/new')
      .then(response => response.text())
      .then(text => {
        document.getElementById("itemModalBody").innerHTML = text;
        hideLastEmptyLines();
      });
  }
  async function onViewItem(id=""){ 
    document.getElementById("itemModalForm").action = "/orders/edit/"+id+"/";
    document.getElementById("itemModalTitle").innerHTML = "Редактирование заказа"
    fetch('/orders/edit/'+id)
      .then(response => response.text())
      .then(text => {
        document.getElementById("itemModalBody").innerHTML = text;
        hideLastEmptyLines();
      });
  }
  async function onNewLine(){ 

    const totalForms = document.getElementById("itemModalBodyLines");
    let lines = totalForms.querySelectorAll('.input-group');
    if( totalForms && lines.length > 0 ){
      const num = lines.length;
      for(i = 1; i<10; i++){
        if(lines[num-i].style.display == 'none'){
          lines[num-i].style.display = '';
          break;
        }
      }   
    } 


    <!-- {% comment %} const totalForms = document.getElementById("itemModalBodyLines");
    const lastLine = totalForms.lastElementChild;
    const elemArray = lastLine.children[0].children[0].id.split("-");
    const newCountId = elemArray[1].replace(/(\d+)+/g, function(match, number) {
       return parseInt(number)+1;
    });
    const clonedLine   = totalForms.lastElementChild.cloneNode(true);
    for(item in clonedLine.children){
      setIdElem(clonedLine.children[item], newCountId)
      for(item2 in clonedLine.children[item].children){
        setIdElem(clonedLine.children[item].children[item2], newCountId)
      }
    }
    totalForms.appendChild(clonedLine);
    const countForms = document.getElementById("id_orderassortmenttablemodel_set-TOTAL_FORMS")
    countForms.value = parseInt(countForms.value)+1; 
    {% endcomment %}
    -->
  }
  async function onDeleteLine(curDelete){
    const totalForms = document.getElementById("itemModalBodyLines"); 
    const currentLine   = curDelete.parentNode.parentNode; 
    if( totalForms.children.length > 6){
      currentLine.hidden = true;
      curDelete.parentNode.children[0].children[0].checked = true;
    }    
  }

  function setIdElem(item, newCountId){
    if(item && item.id){
      const strId = item.id;
      if(typeof strId === 'string' && strId.startsWith("orderassortmenttablemodel_set")){
        const elemArray = strId.split("-");
        item.id = "orderassortmenttablemodel_set"+"-"+newCountId+"-"+elemArray[2]
      }   
    }
  }

  async function onChange(element){
    const totalForms = document.getElementById("itemModalBodyLines");
    const elemArray = element.id.split("-");
    const elemCount = document.getElementById(elemArray[0]+"-"+elemArray[1]+"-count");
    const elemPrice = document.getElementById(elemArray[0]+"-"+elemArray[1]+"-price");
    const elemSumma = document.getElementById(elemArray[0]+"-"+elemArray[1]+"-summa");
    const nameField = elemArray[elemArray.length-1];
    switch(nameField){
      case "count": 
      case "price": 
        elemSumma.value = elemCount.value*elemPrice.value;
        break;
      case "summa": 
        if(elemCount.value != 0){
           elemPrice.value = (elemSumma.value/elemCount.value).toFixed(2)
        }
        break;
    } 
  }
  
  function onDeleteItem(){
    const form = document.getElementById("itemModalForm");
    form.action = form.action.replace("edit","del");
    form.submit();
  }

  function hideLastEmptyLines(){
    const totalForms = document.getElementById("itemModalBodyLines");
    let lines = totalForms.querySelectorAll('.input-group');
    if( totalForms && lines.length > 0 ){
      const num = lines.length;
      for(i = 1; i<10; i++){
        lines[num-i].style.display = 'none';
      }   
    }     
  } 
</script>
{% endblock %}
